@import url('https://fonts.googleapis.com/css?family=Karla');

label {
    color: #dddddd;
}
.container-fluid {
    background-color: #222244 !important;
    color: #dddddd !important;
    font-family: Karla;
    margin-top: 100px;
    font-size: 24pt;
    text-align: center;
}

.weather-buttons {
    margin: auto;
    display: block;
}

.btn-default {
    background-color: rgb(19, 140, 113);
    color: #eeeeee;
    font-size: 0.75em !important;
    outline: none !important;
    box-shadow: none !important;
    width: 90px;
    margin: 15px;
}

.btn-default:hover:enabled {
    transition-duration: 0.4s;
    background-color: #eeeeee;
    color: black;
    border: none;
}

.title {
    margin: 25px;
    font-size: 1.5em;
    font-weight: bold;
}

.data {
    margin: auto;
    margin: 10px;
    font-size: 1em;
}
