.weather-buttons {
    text-align: center;
    margin: auto;
    display: block;
}

.title {
    text-align: center;
}

.weather {
    text-align: center;
    margin: auto;
}

#location {
    text-align: center;
}
